In [149]:
import pandas as pd
import requests
import numpy as np
import statsapi

In [153]:
url = 'http://statsapi.mlb.com/api/v1/schedule/games/?sportId=1'
r = requests.get(url=url).json()
dates = r['dates'][0]['games']
df = pd.DataFrame(dates)
df

,gamePk,gameGuid,link,gameType,season,gameDate,officialDate,status,teams,venue,...,inningBreakLength,gamesInSeries,seriesGameNumber,seriesDescription,recordSource,ifNecessary,ifNecessaryDescription,rescheduledFrom,rescheduledFromDate,description
0,745720,26c39ab7-ba4b-4a03-a661-034f3148daec,/api/v1.1/game/745720/feed/live,R,2024,2024-07-20T17:05:00Z,2024-07-20,"{'abstractGameState': 'Live', 'codedGameState'...","{'away': {'leagueRecord': {'wins': 48, 'losses...","{'id': 3313, 'name': 'Yankee Stadium', 'link':...",...,120,4,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
1,747093,e0f09639-1ccb-4fd7-97f2-c042e21eb293,/api/v1.1/game/747093/feed/live,R,2024,2024-07-20T17:07:00Z,2024-07-20,"{'abstractGameState': 'Live', 'codedGameState'...","{'away': {'leagueRecord': {'wins': 50, 'losses...","{'id': 4705, 'name': 'Truist Park', 'link': '/...",...,120,3,1,Regular Season,S,N,Normal Game,2024-07-19T23:20:00Z,2024-07-19,Makeup of 7/19 PPD
2,747096,544bcd7b-3766-4e09-9fb4-36207b8b09d7,/api/v1.1/game/747096/feed/live,R,2024,2024-07-20T23:20:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 50, 'losses...","{'id': 4705, 'name': 'Truist Park', 'link': '/...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
3,744910,de72f558-409a-4a64-820e-0c68716ecba5,/api/v1.1/game/744910/feed/live,R,2024,2024-07-20T19:07:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 48, 'losses...","{'id': 14, 'name': 'Rogers Centre', 'link': '/...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
4,745638,9a64e28b-4001-4713-91e5-90c8a5b90a04,/api/v1.1/game/745638/feed/live,R,2024,2024-07-20T20:07:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 41, 'losses...","{'id': 10, 'name': 'Oakland Coliseum', 'link':...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
5,746041,1586aedb-4155-43a9-9d55-3961aa837cc2,/api/v1.1/game/746041/feed/live,R,2024,2024-07-20T20:10:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 49, 'losses...","{'id': 4169, 'name': 'loanDepot park', 'link':...",...,120,4,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
6,745478,e09da135-b3b1-43cc-ba18-bedfff76f37c,/api/v1.1/game/745478/feed/live,R,2024,2024-07-20T22:40:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 62, 'losses...","{'id': 31, 'name': 'PNC Park', 'link': '/api/v...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
7,744830,477d0d42-5345-4c40-8d84-5b5b8b84d98c,/api/v1.1/game/744830/feed/live,R,2024,2024-07-20T22:45:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 47, 'losses...","{'id': 3309, 'name': 'Nationals Park', 'link':...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
8,744994,2d50a694-005f-40ea-8547-3e67e31e8834,/api/v1.1/game/744994/feed/live,R,2024,2024-07-20T23:05:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 59, 'losses...","{'id': 5325, 'name': 'Globe Life Field', 'link...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
9,746613,fc1692ad-47ec-4c26-8882-3510e211abf4,/api/v1.1/game/746613/feed/live,R,2024,2024-07-20T23:10:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 50, 'losses...","{'id': 5, 'name': 'Progressive Field', 'link':...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
10,746286,1c890c97-daf4-42c5-a57f-088a9bcc6cca,/api/v1.1/game/746286/feed/live,R,2024,2024-07-20T23:10:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 27, 'losses...","{'id': 7, 'name': 'Kauffman Stadium', 'link': ...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
11,745880,39cba7e9-604e-4268-94bf-3e4eed895826,/api/v1.1/game/745880/feed/live,R,2024,2024-07-20T23:10:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 55, 'losses...","{'id': 3312, 'name': 'Target Field', 'link': '...",...,120,2,1,Regular Season,S,N,Normal Game,NaN,NaN,NaN
12,746852,7b583a6b-e62f-4a5d-93c9-f2bc5d8e6a19,/api/v1.1/game/746852/feed/live,R,2024,2024-07-20T23:15:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 50, 'losses...","{'id': 17, 'name': 'Wrigley Field', 'link': '/...",...,145,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
13,746121,93a506bd-8de9-40ad-a5a9-fc0eca35fa05,/api/v1.1/game/746121/feed/live,R,2024,2024-07-20T23:15:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 53, 'losses...","{'id': 22, 'name': 'Dodger Stadium', 'link': '...",...,145,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
14,746527,9acc484b-3c0b-4580-b240-61c344733f38,/api/v1.1/game/746527/feed/live,R,2024,2024-07-21T00:10:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 47, 'losses...","{'id': 19, 'name': 'Coors Field', 'link': '/ap...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN
15,745229,9ea44381-b586-4141-a4cc-5bbc0bf42e4c,/api/v1.1/game/745229/feed/live,R,2024,2024-07-21T01:40:00Z,2024-07-20,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 51, 'losses...","{'id': 680, 'name': 'T-Mobile Park', 'link': '...",...,120,3,2,Regular Season,S,N,Normal Game,NaN,NaN,NaN

In [151]:
HOST = 'https://statsapi.mlb.com'
url = HOST + df.loc[0,'link']
r = requests.get(url=url).json()
player_df = pd.DataFrame(r['gameData']['players'])
player_df_all = pd.DataFrame(['players'])
player_df = player_df.T

player_df

,id,fullName,link,firstName,lastName,primaryNumber,birthDate,currentAge,birthCity,birthStateProvince,...,initLastName,fullFMLName,fullLFMName,strikeZoneTop,strikeZoneBottom,nickName,nameTitle,nameSuffix,pronunciation,nameMatrilineal
ID543859,543859,Michael Tonkin,/api/v1/people/543859,Michael,Tonkin,50,1989-11-19,34,Glendale,CA,...,M Tonkin,Michael Harvey Tonkin,"Tonkin, Michael Harvey",3.756,1.746,NaN,NaN,NaN,NaN,NaN
ID670764,670764,Taylor Walls,/api/v1/people/670764,Taylor,Walls,6,1996-07-10,28,Cordele,GA,...,T Walls,Taylor Walls,"Walls, Taylor",3.47,1.58,NaN,NaN,NaN,NaN,NaN
ID641482,641482,Nestor Cortes,/api/v1/people/641482,Nestor,Cortes,65,1994-12-10,29,Surgidero de Batabano,NaN,...,N Cortes,Nestor Cortes,"Cortes, Nestor",3.319,1.513,Hialeah Kid,Jr.,Jr.,NaN,NaN
ID542888,542888,Shawn Armstrong,/api/v1/people/542888,Shawn,Armstrong,64,1990-09-11,33,New Bern,NC,...,S Armstrong,Shawn Michael Armstrong,"Armstrong, Shawn Michael",3.467,1.589,Armie,NaN,NaN,NaN,NaN
ID518934,518934,DJ LeMahieu,/api/v1/people/518934,David,LeMahieu,26,1988-07-13,36,Visalia,CA,...,D LeMahieu,David John LeMahieu,"LeMahieu, David John",3.3,1.55,Big Fundy,NaN,NaN,luh-MAY-hyoo,NaN
ID664040,664040,Brandon Lowe,/api/v1/people/664040,Brandon,Lowe,8,1994-07-06,30,Suffolk,VA,...,B Lowe,Brandon Norman Lowe,"Lowe, Brandon Norman",3.29,1.53,Bamm-Bamm,NaN,NaN,rhymes with 'now',NaN
ID671737,671737,Taj Bradley,/api/v1/people/671737,Taj,Bradley,45,2001-03-20,23,Los Angeles,CA,...,T Bradley,Taj Ali Bradley,"Bradley, Taj Ali",3.467,1.589,NaN,NaN,NaN,NaN,NaN
ID664126,664126,Pete Fairbanks,/api/v1/people/664126,Peter,Fairbanks,29,1993-12-16,30,Milwaukee,WI,...,P Fairbanks,Peter Anderson Fairbanks,"Fairbanks, Peter Anderson",3.656,1.677,NaN,NaN,NaN,NaN,NaN
ID686752,686752,Ryan Pepiot,/api/v1/people/686752,Ryan,Pepiot,44,1997-08-21,26,Indianapolis,IN,...,R Pepiot,Ryan Michael Pepiot,"Pepiot, Ryan Michael",3.49,1.601,NaN,NaN,NaN,PEH-pee-oh,NaN
ID657077,657077,Alex Verdugo,/api/v1/people/657077,Alexander,Verdugo,24,1996-05-15,28,Tucson,AZ,...,A Verdugo,Alexander Brady Verdugo,"Verdugo, Alexander Brady",3.55,1.59,Dugie,NaN,NaN,vehr-DOO-go,NaN
ID676356,676356,Jonny DeLuca,/api/v1/people/676356,Jonathan,DeLuca,21,1998-07-10,26,Thousand Oaks,CA,...,J DeLuca,Jonathan Davis DeLuca,"DeLuca, Jonathan Davis",3.28,1.56,NaN,NaN,NaN,NaN,NaN
ID669224,669224,Austin Wells,/api/v1/people/669224,Austin,Wells,28,1999-07-12,25,Scottsdale,AZ,...,A Wells,Austin Kenneth Wells,"Wells, Austin Kenneth",3.44,1.61,NaN,NaN,NaN,NaN,NaN
ID700250,700250,Ben Rice,/api/v1/people/700250,Benjamin,Rice,93,1999-02-22,25,Cohasset,MA,...,B Rice,Benjamin Kimball Rice,"Rice, Benjamin Kimball",3.73,1.81,NaN,NaN,NaN,NaN,NaN
ID650402,650402,Gleyber Torres,/api/v1/people/650402,Gleyber,Torres,25,1996-12-13,27,Caracas,NaN,...,G Torres,Gleyber David Torres,"Torres, Gleyber David",3.26,1.54,De Caracas,NaN,NaN,GLAY-burr,Castro
ID670955,670955,Edwin Uceta,/api/v1/people/670955,Edwin,Uceta,63,1998-01-09,26,Villa Los Almacigos,NaN,...,E Uceta,Edwin Daniel Uceta,"Uceta, Edwin Daniel",3.371,1.535,NaN,NaN,NaN,NaN,Martinez
ID664776,664776,Jake Cousins,/api/v1/people/664776,Jake,Cousins,61,1994-07-14,30,Parkridge,IL,...,J Cousins,Jake O. Cousins,"Cousins, Jake O.",3.549,1.627,NaN,NaN,NaN,NaN,NaN
ID605280,605280,Clay Holmes,/api/v1/people/605280,Clayton,Holmes,35,1993-03-27,31,Dothan,AL,...,C Holmes,Clayton Walter Holmes,"Holmes, Clayton Walter",3.575,1.681,NaN,NaN,NaN,NaN,NaN
ID621363,621363,Colin Poche,/api/v1/people/621363,Colin,Poche,38,1994-01-17,30,Flower Mound,TX,...,C Poche,Colin Michael Poche,"Poche, Colin Michael",3.49,1.601,Po,NaN,NaN,poh-SHAY,NaN
ID641793,641793,Zack Littell,/api/v1/people/641793,Zack,Littell,52,1995-10-05,28,Burlington,NC,...,Z Littell,Zack Stuart Littell,"Littell, Zack Stuart",3.549,1.627,Lit,NaN,NaN,lah-TELL,NaN
ID665742,665742,Juan Soto,/api/v1/people/665742,Juan,Soto,22,1998-10-25,25,Santo Domingo,NaN,...,J Soto,Juan Jose Soto,"Soto, Juan Jose",3.12,1.52,Soto Pacheco,NaN,NaN,NaN,Pacheco
ID656671,656671,Josh Maciejewski,/api/v1/people/656671,Josh,Maciejewski,63,1995-08-14,28,Morrisville,NC,...,J Maciejewski,Josh Graham Maciejewski,"Maciejewski, Josh Graham",3.49,1.601,NaN,NaN,NaN,NaN,NaN
ID573186,573186,Marcus Stroman,/api/v1/people/573186,Marcus,Stroman,0,1991-05-01,33,Medford,NY,...,M Stroman,Marcus Earl Stroman,"Stroman, Marcus Earl",3.38,1.56,HDMH,NaN,NaN,NaN,NaN
ID663757,663757,Trent Grisham,/api/v1/people/663757,Trenton,Grisham,12,1996-11-01,27,Burleson,TX,...,T Grisham,Trenton Marcus Grisham,"Grisham, Trenton Marcus",3.67,1.79,Grish,NaN,NaN,GRISH-um,NaN
ID605204,605204,J.D. Davis,/api/v1/people/605204,Jonathan,Davis,38,1993-04-27,31,Elk Grove,CA,...,J Davis,Jonathan Gregory Davis,"Davis, Jonathan Gregory",3.51,1.6,Dizzle,NaN,NaN,NaN,NaN
ID543037,543037,Gerrit Cole,/api/v1/people/543037,Gerrit,Cole,45,1990-09-08,33,Newport Beach,CA,...,G Cole,Gerrit Alan Cole,"Cole, Gerrit Alan",3.549,1.627,Chef G,NaN,NaN,NaN,NaN
ID642350,642350,Jose Siri,/api/v1/people/642350,Jose,Siri,22,1995-07-22,28,Sabana Grande de Boya,NaN,...,J Siri,Jose Alexander Siri,"Siri, Jose Alexander",3.52,1.68,NaN,NaN,NaN,NaN,NaN
ID670623,670623,Isaac Paredes,/api/v1/people/670623,Isaac,Paredes,17,1999-02-18,25,Hermosillo,Sonora,...,I Paredes,Isaac Edgardo Paredes,"Paredes, Isaac Edgardo",3.28,1.62,NaN,NaN,NaN,e-sa-AK Puh-ray-dess,Calderon
ID676609,676609,JosÃ© Caballero,/api/v1/people/676609,JosÃ©,Caballero,7,1996-08-30,27,Las Tablas,NaN,...,J Caballero,JosÃ© Caballero,"Caballero, JosÃ©",3.05,1.38,NaN,NaN,NaN,NaN,NaN
ID666163,666163,Ben Rortvedt,/api/v1/people/666163,Benjamin,Rortvedt,30,1997-09-25,26,Madison,WI,...,B Rortvedt,Benjamin Thomas Rortvedt,"Rortvedt, Benjamin Thomas",3.16,1.49,NaN,NaN,NaN,rort-vet,NaN
ID607074,607074,Carlos RodÃ³n,/api/v1/people/607074,Carlos,RodÃ³n,55,1992-12-10,31,Miami,FL,...,C RodÃ³n,Carlos Antonio RodÃ³n,"RodÃ³n, Carlos Antonio",3.467,1.589,Los,NaN,NaN,row-DON,NaN
ID680700,680700,Richie Palacios,/api/v1/people/680700,Richard,Palacios,1,1997-05-16,27,Brooklyn,NY,...,R Palacios,Richard Palacios,"Palacios, Richard",3.49,1.63,NaN,NaN,NaN,NaN,NaN
ID668227,668227,Randy Arozarena,/api/v1/people/668227,Randy,Arozarena,56,1995-02-28,29,Havana,NaN,...,R Arozarena,Randy Arozarena,"Arozarena, Randy",3.3,1.58,NaN,NaN,NaN,ah-row-sah-RAY-nah,Gonzalez
ID663330,663330,Jahmai Jones,/api/v1/people/663330,Jahmai,Jones,14,1997-08-04,26,Roswell,GA,...,J Jones,Jahmai Fitzgerald Jones,"Jones, Jahmai Fitzgerald",3.5,1.64,NaN,NaN,NaN,juh-MY,NaN
ID669358,669358,Shane Baz,/api/v1/people/669358,Shane,Baz,11,1999-06-17,25,Houston,TX,...,S Baz,Shane Austin Baz,"Baz, Shane Austin",3.467,1.589,NaN,NaN,NaN,BOZ,NaN
ID596133,596133,Luke Weaver,/api/v1/people/596133,Luke,Weaver,30,1993-08-21,30,DeLand,FL,...,L Weaver,Luke Allen Weaver,"Weaver, Luke Allen",3.467,1.589,Dream,NaN,NaN,NaN,NaN
ID592094,592094,Jason Adam,/api/v1/people/592094,Jason,Adam,47,1991-08-04,32,Omaha,NE,...,J Adam,Jason Kendall Adam,"Adam, Jason Kendall",3.49,1.601,NaN,NaN,NaN,NaN,NaN
ID642708,642708,Amed Rosario,/api/v1/people/642708,German,Rosario,10,1995-11-20,28,Santo Domingo Centro,NaN,...,A Rosario,German Amed Rosario,"Rosario, German Amed",3.3,1.56,Rosie,NaN,NaN,row-SAH-ree-oh,Valdez
ID665828,665828,Oswaldo Cabrera,/api/v1/people/665828,Oswaldo,Cabrera,95,1999-03-01,25,Guarenas,NaN,...,O Cabrera,Oswaldo Alberto Cabrera,"Cabrera, Oswaldo Alberto",3.19,1.49,NaN,NaN,NaN,NaN,Mabaricuna
ID592450,592450,Aaron Judge,/api/v1/people/592450,Aaron,Judge,99,1992-04-26,32,Linden,CA,...,A Judge,Aaron James Judge,"Judge, Aaron James",4.07,1.8,Baj,NaN,NaN,NaN,NaN
ID657571,657571,Caleb Ferguson,/api/v1/people/657571,Caleb,Ferguson,64,1996-07-02,28,Columbus,OH,...,C Ferguson,Caleb Paul Ferguson,"Ferguson, Caleb Paul",3.49,1.601,NaN,NaN,NaN,NaN,NaN
ID678554,678554,Curtis Mead,/api/v1/people/678554,Curtis,Mead,25,2000-10-26,23,Adelaide,NaN,...,C Mead,Curtis James Mead,"Mead, Curtis James",3.56,1.66,NaN,NaN,NaN,NaN,NaN
ID657612,657612,Tim Hill,/api/v1/people/657612,Timothy,Hill,54,1990-02-10,34,Mission Hills,CA,...,T Hill,Timothy Hill,"Hill, Timothy",3.549,1.627,Tim Jim,NaN,NaN,NaN,NaN
ID664076,664076,Garrett Cleavinger,/api/v1/people/664076,Garrett,Cleavinger,60,1994-04-23,30,Lawrence,KS,...,G Cleavinger,Garrett J. Cleavinger,"Cleavinger, Garrett J.",3.411,1.565,NaN,NaN,NaN,NaN,NaN
ID687330,687330,Kevin Kelly,/api/v1/people/687330,Kevin,Kelly,49,1997-11-28,26,Springfield,VA,...,K Kelly,Kevin Clayton Kelly,"Kelly, Kevin Clayton",3.467,1.589,NaN,NaN,NaN,NaN,NaN
ID621107,621107,Zach Eflin,/api/v1/people/621107,Zachary,Eflin,24,1994-04-08,30,Orlando,FL,...,Z Eflin,Zachary Adams Eflin,"Eflin, Zachary Adams",3.68,1.7,Ef,NaN,NaN,EFF-lin,NaN
ID666139,666139,Josh Lowe,/api/v1/people/666139,Joshua,Lowe,15,1998-02-02,26,Chesapeake,VA,...,J Lowe,Joshua Edward Lowe,"Lowe, Joshua Edward",3.72,1.76,NaN,NaN,NaN,low,NaN
ID592454,592454,Tommy Kahnle,/api/v1/people/592454,Thomas,Kahnle,41,1989-08-07,34,Latham,NY,...,T Kahnle,Thomas Robert Kahnle,"Kahnle, Thomas Robert",3.411,1.565,King Kahn,NaN,NaN,cain-lee,NaN
ID683011,683011,Anthony Volpe,/api/v1/people/683011,Anthony,Volpe,11,2001-04-28,23,New York,NY,...,A Volpe,Anthony Michael Volpe,"Volpe, Anthony Michael",3.38,1.61,NaN,NaN,NaN,NaN,NaN
ID665966,665966,Carlos Narvaez,/api/v1/people/665966,Carlos,Narvaez,94,1998-11-26,25,Maracay,NaN,...,C Narvaez,Carlos Luis Narvaez,"Narvaez, Carlos Luis",3.319,1.513,NaN,NaN,NaN,NaN,Olivo
ID661563,661563,Luis Gil,/api/v1/people/661563,Luis,Gil,81,1998-06-03,26,Azua,NaN,...,L Gil,Luis Angel Gil,"Gil, Luis Angel",3.467,1.589,NaN,NaN,NaN,Heel,Brito
ID655889,655889,Manuel RodrÃ­guez,/api/v1/people/655889,Manuel,RodrÃ­guez,39,1996-08-06,27,Merida,Yucatan,...,M RodrÃ­guez,Manuel De Jesus RodrÃ­guez,"RodrÃ­guez, Manuel De Jesus",3.319,1.513,NaN,NaN,NaN,NaN,Caamal
ID656577,656577,Alex Jackson,/api/v1/people/656577,Alexander,Jackson,28,1995-12-25,28,San Diego,CA,...,A Jackson,Alexander James Jackson,"Jackson, Alexander James",3.5,1.65,NaN,NaN,NaN,NaN,NaN

In [154]:
def get_avg(player_id):
    player = statsapi.player_stat_data(int(player_id), group= "hitting", type="season", sportId=1)
    if player['position'] == 'P':
        return 0
    return float(player['stats'][0]['stats']['avg'])

def get_atBats(player_id):
    player = statsapi.player_stat_data(int(player_id), group= "hitting", type="season", sportId=1)
    if player['position'] == 'P':
        return 0
    return float(player['stats'][0]['stats']['atBats'])



averages = player_df.id.apply(get_avg)
player_df = player_df.assign(avg=averages.values)

player_atBats = player_df.id.apply(get_atBats)
player_df = player_df.assign(atBats=player_atBats.values)

IndexError: list index out of range

In [ ]:
batScore = player_df.avg * player_df.atBats / 30
player_df = player_df.assign(batScore=batScore.values)
    


dayScore = player_df.batScore
player_df = player_df.assign(dayScore=dayScore.values)

dayStatus = player_df.dayScore >= 3
player_df = player_df.assign(dayStatus=dayStatus.values)

valid_hitters = player_df['dayStatus'] == True

player_df.loc[valid_hitters].T

In [ ]:
HOST = 'https://statsapi.mlb.com'
url = HOST + df.loc[0,'link']
r = requests.get(url=url).json()
player_df = pd.DataFrame(r['gameData']['players'])
player_df_all = pd.DataFrame(['players'])
player_df = player_df.T