### Testing out the MLB Stats API

In [3]:
# Import necessary modules
import pandas as pd
import requests
import numpy as np

How to call the API for the games on each day:

In [5]:
url = 'http://statsapi.mlb.com/api/v1/schedule/games/?sportId=1'
r = requests.get(url=url).json()
dates = r['dates'][0]['games']
df = pd.DataFrame(dates)
df

,gamePk,gameGuid,link,gameType,season,gameDate,officialDate,status,teams,venue,...,dayNight,scheduledInnings,reverseHomeAwayStatus,inningBreakLength,gamesInSeries,seriesGameNumber,seriesDescription,recordSource,ifNecessary,ifNecessaryDescription
0,745480,1d0e484d-3a1f-4d1f-b799-1f887e87f89b,/api/v1.1/game/745480/feed/live,R,2024,2024-07-08T16:35:00Z,2024-07-08,"{'abstractGameState': 'Live', 'codedGameState'...","{'away': {'leagueRecord': {'wins': 44, 'losses...","{'id': 31, 'name': 'PNC Park', 'link': '/api/v...",...,day,9,False,120,4,4,Regular Season,S,N,Normal Game
1,744833,9aaa1ac6-fb47-428b-95ae-df75f9933ae9,/api/v1.1/game/744833/feed/live,R,2024,2024-07-08T20:05:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 47, 'losses...","{'id': 3309, 'name': 'Nationals Park', 'link':...",...,day,9,False,120,4,4,Regular Season,S,N,Normal Game
2,746455,f38013c4-3fa3-4e9c-9b04-3f4ac59cf573,/api/v1.1/game/746455/feed/live,R,2024,2024-07-08T22:40:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 56, 'losses...","{'id': 2394, 'name': 'Comerica Park', 'link': ...",...,night,9,False,120,4,1,Regular Season,S,N,Normal Game
3,746692,7efc2989-ed2d-4bba-91a8-1df40d16e52e,/api/v1.1/game/746692/feed/live,R,2024,2024-07-08T23:10:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 32, 'losses...","{'id': 2602, 'name': 'Great American Ball Park...",...,night,9,False,120,4,1,Regular Season,S,N,Normal Game
4,746771,24f80e76-8e5f-42dd-a633-9dd4402337bb,/api/v1.1/game/746771/feed/live,R,2024,2024-07-09T00:10:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 51, 'losses...","{'id': 4, 'name': 'Guaranteed Rate Field', 'li...",...,night,9,False,120,3,1,Regular Season,S,N,Normal Game
5,746208,7ab7ea77-8ef5-452d-a592-e89d4ac45c6d,/api/v1.1/game/746208/feed/live,R,2024,2024-07-09T01:38:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 42, 'losses...","{'id': 1, 'name': 'Angel Stadium', 'link': '/a...",...,night,9,False,120,3,1,Regular Season,S,N,Normal Game
6,747181,06a82ebf-26c9-4971-aba8-c72a8fb9c65b,/api/v1.1/game/747181/feed/live,R,2024,2024-07-09T01:40:00Z,2024-07-08,"{'abstractGameState': 'Preview', 'codedGameSta...","{'away': {'leagueRecord': {'wins': 49, 'losses...","{'id': 15, 'name': 'Chase Field', 'link': '/ap...",...,night,9,False,120,4,1,Regular Season,S,N,Normal Game

In [6]:
df.loc[6,'teams']

{'away': {'leagueRecord': {'wins': 49, 'losses': 39, 'pct': '.557'},
  'team': {'id': 144, 'name': 'Atlanta Braves', 'link': '/api/v1/teams/144'},
  'splitSquad': False,
  'seriesNumber': 31},
 'home': {'leagueRecord': {'wins': 45, 'losses': 45, 'pct': '.500'},
  'team': {'id': 109,
   'name': 'Arizona Diamondbacks',
   'link': '/api/v1/teams/109'},
  'splitSquad': False,
  'seriesNumber': 30}}

In [7]:
# Getting the players from today's first game:
HOST = 'https://statsapi.mlb.com'
url = HOST + df.loc[0,'link']
r = requests.get(url=url).json()
player_df = pd.DataFrame(r['gameData']['players'])
player_df.T

,id,fullName,link,firstName,lastName,primaryNumber,birthDate,currentAge,birthCity,birthStateProvince,...,lastFirstName,lastInitName,initLastName,fullFMLName,fullLFMName,strikeZoneTop,strikeZoneBottom,nameMatrilineal,nameTitle,nameSuffix
ID518617,518617,Jake Diekman,/api/v1/people/518617,Jacob,Diekman,30,1987-01-21,37,Wymore,NE,...,"Diekman, Jake","Diekman, J",J Diekman,Jacob Tanner Diekman,"Diekman, Jacob Tanner",3.549,1.627,NaN,NaN,NaN
ID694973,694973,Paul Skenes,/api/v1/people/694973,Paul,Skenes,30,2002-05-29,22,Fullerton,CA,...,"Skenes, Paul","Skenes, P",P Skenes,Paul David Skenes,"Skenes, Paul David",3.656,1.677,NaN,NaN,NaN
ID518735,518735,Yasmani Grandal,/api/v1/people/518735,Yasmani,Grandal,6,1988-11-08,35,Havana,NaN,...,"Grandal, Yasmani","Grandal, Y",Y Grandal,Yasmani Grandal,"Grandal, Yasmani",3.23,1.52,NaN,NaN,NaN
ID621438,621438,Tyrone Taylor,/api/v1/people/621438,Tyrone,Taylor,15,1994-01-22,30,Torrance,CA,...,"Taylor, Tyrone","Taylor, T",T Taylor,Tyrone Anthony Taylor,"Taylor, Tyrone Anthony",3.47,1.58,NaN,NaN,NaN
ID668804,668804,Bryan Reynolds,/api/v1/people/668804,Bryan,Reynolds,10,1995-01-27,29,Baltimore,MD,...,"Reynolds, Bryan","Reynolds, B",B Reynolds,Bryan Patrick Reynolds,"Reynolds, Bryan Patrick",3.13,1.53,NaN,NaN,NaN
ID682626,682626,Francisco Alvarez,/api/v1/people/682626,Francisco,Alvarez,4,2001-11-19,22,Guatire,NaN,...,"Alvarez, Francisco","Alvarez, F",F Alvarez,Francisco Javier Alvarez,"Alvarez, Francisco Javier",3.4,1.55,Pulido,NaN,NaN
ID642133,642133,Rowdy Tellez,/api/v1/people/642133,Ryan,Tellez,44,1995-03-16,29,Sacramento,CA,...,"Tellez, Rowdy","Tellez, R",R Tellez,Ryan John Tellez,"Tellez, Ryan John",3.69,1.71,NaN,NaN,NaN
ID656582,656582,Connor Joe,/api/v1/people/656582,Connor,Joe,2,1992-08-16,31,San Diego,CA,...,"Joe, Connor","Joe, C",C Joe,Connor Kok-Wy Joe,"Joe, Connor Kok-Wy",3.24,1.53,NaN,NaN,NaN
ID500779,500779,Jose Quintana,/api/v1/people/500779,Jose,Quintana,62,1989-01-24,35,Arjona,NaN,...,"Quintana, Jose","Quintana, J",J Quintana,Jose Guillermo Quintana,"Quintana, Jose Guillermo",3.411,1.565,NaN,NaN,NaN
ID676596,676596,Josh Fleming,/api/v1/people/676596,Josh,Fleming,28,1996-05-18,28,Bridgeton,MO,...,"Fleming, Josh","Fleming, J",J Fleming,Josh R. Fleming,"Fleming, Josh R.",3.467,1.589,NaN,NaN,NaN
ID502110,502110,J.D. Martinez,/api/v1/people/502110,Julio,Martinez,28,1987-08-21,36,Miami,FL,...,"Martinez, J.D.","Martinez, J",J Martinez,Julio Daniel Martinez,"Martinez, Julio Daniel",3.67,1.71,NaN,NaN,NaN
ID693312,693312,Kyle Nicolas,/api/v1/people/693312,Kyle,Nicolas,62,1999-02-22,25,Massillon,OH,...,"Nicolas, Kyle","Nicolas, K",K Nicolas,Kyle Todd Nicolas,"Nicolas, Kyle Todd",3.549,1.627,NaN,NaN,NaN
ID669387,669387,Carmen Mlodzinski,/api/v1/people/669387,Carmen,Mlodzinski,50,1999-02-19,25,Hilton Head Island,SC,...,"Mlodzinski, Carmen","Mlodzinski, C",C Mlodzinski,Carmen Alexander Mlodzinski,"Mlodzinski, Carmen Alexander",3.467,1.589,NaN,NaN,NaN
ID664056,664056,Harrison Bader,/api/v1/people/664056,Harrison,Bader,44,1994-06-03,30,Bronxville,NY,...,"Bader, Harrison","Bader, H",H Bader,Harrison Joseph Bader,"Bader, Harrison Joseph",3.21,1.52,NaN,NaN,NaN
ID621242,621242,Edwin Díaz,/api/v1/people/621242,Edwin,Díaz,39,1994-03-22,30,Naguabo,NaN,...,"Díaz, Edwin","Díaz, E",E Díaz,Edwin Orlando Díaz,"Díaz, Edwin Orlando",3.49,1.601,NaN,NaN,NaN
ID605288,605288,Adrian Houser,/api/v1/people/605288,Adrian,Houser,35,1993-02-02,31,Tahlequah,OK,...,"Houser, Adrian","Houser, A",A Houser,Adrian David Houser,"Houser, Adrian David",3.45,1.65,NaN,NaN,NaN
ID641703,641703,Brent Honeywell,/api/v1/people/641703,Brent,Honeywell,34,1995-03-31,29,Augusta,GA,...,"Honeywell, Brent","Honeywell, B",B Honeywell,Brent Lee Honeywell,"Honeywell, Brent Lee",3.467,1.589,NaN,Jr.,Jr.
ID641943,641943,Joshua Palacios,/api/v1/people/641943,Joshua,Palacios,77,1995-07-30,28,Brooklyn,NY,...,"Palacios, Joshua","Palacios, J",J Palacios,Joshua John Palacios,"Palacios, Joshua John",3.47,1.68,NaN,NaN,NaN
ID669261,669261,Jack Suwinski,/api/v1/people/669261,Jack,Suwinski,65,1998-07-29,25,Chicago,IL,...,"Suwinski, Jack","Suwinski, J",J Suwinski,Jack William Suwinski,"Suwinski, Jack William",3.62,1.68,NaN,NaN,NaN
ID693304,693304,Nick Gonzales,/api/v1/people/693304,Nicholas,Gonzales,39,1999-05-27,25,Vail,AZ,...,"Gonzales, Nick","Gonzales, N",N Gonzales,Nicholas Joseph Gonzales,"Gonzales, Nicholas Joseph",3.34,1.54,NaN,NaN,NaN
ID527048,527048,Martín Pérez,/api/v1/people/527048,Martín,Pérez,54,1991-04-04,33,Guanare,NaN,...,"Pérez, Martín","Pérez, M",M Pérez,Martín Pérez,"Pérez, Martín",3.371,1.535,Jimenez,NaN,NaN
ID620443,620443,Luis Torrens,/api/v1/people/620443,Luis,Torrens,13,1996-05-02,28,Valencia,NaN,...,"Torrens, Luis","Torrens, L",L Torrens,Luis Alfonso Torrens,"Torrens, Luis Alfonso",3.39,1.51,Saez,NaN,NaN
ID622663,622663,Luis Severino,/api/v1/people/622663,Luis,Severino,40,1994-02-20,30,Sabana de la Mar,NaN,...,"Severino, Luis","Severino, L",L Severino,Luis Severino,"Severino, Luis",3.467,1.589,NaN,NaN,NaN
ID682847,682847,Luis L. Ortiz,/api/v1/people/682847,Luis,Ortiz,48,1999-01-27,25,San Pedro de Macoris,NaN,...,"Ortiz, Luis L.","Ortiz, L. L.",L.L. Ortiz,Luis Leandro Ortiz,"Ortiz, Luis Leandro",3.467,1.589,Ribera,NaN,NaN
ID663698,663698,Joey Bart,/api/v1/people/663698,Joseph,Bart,14,1996-12-15,27,Buford,GA,...,"Bart, Joey","Bart, J",J Bart,Joseph Andrew Bart,"Bart, Joseph Andrew",3.52,1.62,NaN,NaN,NaN
ID592325,592325,Ben Gamel,/api/v1/people/592325,Benjamin,Gamel,21,1992-05-17,32,Neptune Beach,FL,...,"Gamel, Ben","Gamel, B",B Gamel,Benjamin Joseph Gamel,"Gamel, Benjamin Joseph",3.33,1.5,NaN,NaN,NaN
ID640455,640455,Sean Manaea,/api/v1/people/640455,Sean,Manaea,59,1992-02-01,32,Valparaiso,IN,...,"Manaea, Sean","Manaea, S",S Manaea,Sean Anthony Manaea,"Manaea, Sean Anthony",3.575,1.681,NaN,NaN,NaN
ID668901,668901,Mark Vientos,/api/v1/people/668901,Mark,Vientos,27,1999-12-11,24,Norwalk,CT,...,"Vientos, Mark","Vientos, M",M Vientos,Mark Anthony Vientos,"Vientos, Mark Anthony",3.52,1.57,NaN,NaN,NaN
ID643446,643446,Jeff McNeil,/api/v1/people/643446,Jeffrey,McNeil,1,1992-04-08,32,Santa Barbara,CA,...,"McNeil, Jeff","McNeil, J",J McNeil,Jeffrey Todd McNeil,"McNeil, Jeffrey Todd",3.45,1.63,NaN,NaN,NaN
ID665833,665833,Oneil Cruz,/api/v1/people/665833,Oneil,Cruz,15,1998-10-04,25,Nizao,NaN,...,"Cruz, Oneil","Cruz, O",O Cruz,Oneil Cruz,"Cruz, Oneil",3.86,1.79,Urena,NaN,NaN
ID578428,578428,Jose Iglesias,/api/v1/people/578428,Jose,Iglesias,11,1990-01-05,34,Havana,NaN,...,"Iglesias, Jose","Iglesias, J",J Iglesias,Jose Antonio Iglesias,"Iglesias, Jose Antonio",3.2,1.42,Aleman,NaN,NaN
ID493603,493603,Adam Ottavino,/api/v1/people/493603,Adam,Ottavino,0,1985-11-22,38,New York,NY,...,"Ottavino, Adam","Ottavino, A",A Ottavino,Adam Robert Ottavino,"Ottavino, Adam Robert",3.575,1.681,NaN,NaN,NaN
ID658668,658668,Edward Olivares,/api/v1/people/658668,Edward,Olivares,38,1996-03-06,28,Caracas,NaN,...,"Olivares, Edward","Olivares, E",E Olivares,Edward Daniel Olivares,"Olivares, Edward Daniel",3.64,1.72,Nunez,NaN,NaN
ID663647,663647,Ke'Bryan Hayes,/api/v1/people/663647,Ke'Bryan,Hayes,13,1997-01-28,27,Tomball,TX,...,"Hayes, Ke'Bryan","Hayes, K",K Hayes,Ke'Bryan Kobe Hayes,"Hayes, Ke'Bryan Kobe",3.26,1.51,NaN,NaN,NaN
ID673380,673380,Dedniel Núñez,/api/v1/people/673380,Dedniel,Núñez,72,1996-06-05,28,Puerto Plata,NaN,...,"Núñez, Dedniel","Núñez, D",D Núñez,Dedniel Omar Núñez,"Núñez, Dedniel Omar",3.467,1.589,Pascual,NaN,NaN
ID669707,669707,Jared Triolo,/api/v1/people/669707,Jared,Triolo,19,1998-02-08,26,Nashua,NH,...,"Triolo, Jared","Triolo, J",J Triolo,Jared Robert Triolo,"Triolo, Jared Robert",3.55,1.64,NaN,NaN,NaN
ID676130,676130,José Buttó,/api/v1/people/676130,José,Buttó,70,1998-03-19,26,Cumana,NaN,...,"Buttó, José","Buttó, J",J Buttó,José Alejandro Buttó,"Buttó, José Alejandro",3.411,1.565,Salazar,NaN,NaN
ID656924,656924,Ryder Ryan,/api/v1/people/656924,Ryder,Ryan,72,1995-05-11,29,Huntersville,NC,...,"Ryan, Ryder","Ryan, R",R Ryan,Ryder Michael Ryan,"Ryan, Ryder Michael",3.467,1.589,NaN,NaN,NaN
ID656605,656605,Mitch Keller,/api/v1/people/656605,Mitch,Keller,23,1996-04-04,28,Cedar Rapids,IA,...,"Keller, Mitch","Keller, M",M Keller,Mitch Thomas Keller,"Keller, Mitch Thomas",3.66,1.68,NaN,NaN,NaN
ID457705,457705,Andrew McCutchen,/api/v1/people/457705,Andrew,McCutchen,22,1986-10-10,37,Fort Meade,FL,...,"McCutchen, Andrew","McCutchen, A",A McCutchen,Andrew Stefan McCutchen,"McCutchen, Andrew Stefan",3.46,1.7,NaN,NaN,NaN
ID621466,621466,DJ Stewart,/api/v1/people/621466,Demetrius,Stewart,29,1993-11-30,30,Gainesville,FL,...,"Stewart, DJ","Stewart, D",D Stewart,Demetrius Jerome Stewart,"Stewart, Demetrius Jerome",3.19,1.44,NaN,NaN,NaN
ID670059,670059,Colin Holderman,/api/v1/people/670059,Colin,Holderman,35,1995-10-08,28,Bourbannais,IL,...,"Holderman, Colin","Holderman, C",C Holderman,Colin Scott Holderman,"Holderman, Colin Scott",3.549,1.627,NaN,NaN,NaN
ID624413,624413,Pete Alonso,/api/v1/people/624413,Peter,Alonso,20,1994-12-07,29,Tampa,FL,...,"Alonso, Pete","Alonso, P",P Alonso,Peter Morgan Alonso,"Alonso, Peter Morgan",3.37,1.53,NaN,NaN,NaN
ID656849,656849,David Peterson,/api/v1/people/656849,David,Peterson,23,1995-09-03,28,Denver,CO,...,"Peterson, David","Peterson, D",D Peterson,David John Peterson,"Peterson, David John",3.656,1.677,NaN,NaN,NaN
ID642701,642701,Dennis Santana,/api/v1/people/642701,Dennis,Santana,60,1996-04-12,28,San Pedro de Macoris,NaN,...,"Santana, Dennis","Santana, D",D Santana,Dennis Anfernee Santana,"Santana, Dennis Anfernee",3.467,1.589,Sanchez,NaN,NaN
ID596019,596019,Francisco Lindor,/api/v1/people/596019,Francisco,Lindor,12,1993-11-14,30,Caguas,NaN,...,"Lindor, Francisco","Lindor, F",F Lindor,Francisco Miguel Lindor,"Lindor, Francisco Miguel",3.37,1.52,NaN,NaN,NaN
ID607043,607043,Brandon Nimmo,/api/v1/people/607043,Brandon,Nimmo,9,1993-03-27,31,Cheyenne,WY,...,"Nimmo, Brandon","Nimmo, B",B Nimmo,Brandon Tate Nimmo,"Nimmo, Brandon Tate",3.53,1.65,NaN,NaN,NaN
ID681035,681035,Christian Scott,/api/v1/people/681035,Christian,Scott,45,1999-06-15,25,Coconut Creek,FL,...,"Scott, Christian","Scott, C",C Scott,Christian David Scott,"Scott, Christian David",3.549,1.627,NaN,NaN,NaN
ID657585,657585,Reed Garrett,/api/v1/people/657585,Reed,Garrett,75,1993-01-02,31,Henrico,VA,...,"Garrett, Reed","Garrett, R",R Garrett,Reed Garrett,"Garrett, Reed",3.467,1.589,NaN,NaN,NaN
ID572191,572191,Michael A. Taylor,/api/v1/people/572191,Michael,Taylor,18,1991-03-26,33,Fort Lauderdale,FL,...,"Taylor, Michael A.","Taylor, M",M Taylor,Michael Anthony Taylor,"Taylor, Michael Anthony",3.54,1.62,NaN,NaN,NaN
ID679358,679358,Eric Orze,/api/v1/people/679358,Eric,Orze,53,1997-08-21,26,Elk Grove,IL,...,"Orze, Eric","Orze, E",E Orze,Eric Paul Orze,"Orze, Eric Paul",3.549,1.627,NaN,NaN,NaN
ID547973,547973,Aroldis Chapman,/api/v1/people/547973,Albertin,Chapman,45,1988-02-28,36,Holguin,NaN,...,"Chapman, Aroldis","Chapman, A",A Chapman,Albertin Aroldis Chapman,"Chapman, Albertin Aroldis",3.549,1.627,De La Cruz,NaN,NaN

In [38]:
# player_df = player_df.T
player_df.columns
foreign_players = player_df['birthCountry'] != 'USA'
player_df.loc[foreign_players]

,id,fullName,link,firstName,lastName,primaryNumber,birthDate,currentAge,birthCity,birthStateProvince,...,lastFirstName,lastInitName,initLastName,fullFMLName,fullLFMName,strikeZoneTop,strikeZoneBottom,nameMatrilineal,nameTitle,nameSuffix
ID518735,518735,Yasmani Grandal,/api/v1/people/518735,Yasmani,Grandal,6,1988-11-08,35,Havana,NaN,...,"Grandal, Yasmani","Grandal, Y",Y Grandal,Yasmani Grandal,"Grandal, Yasmani",3.23,1.52,NaN,NaN,NaN
ID682626,682626,Francisco Alvarez,/api/v1/people/682626,Francisco,Alvarez,4,2001-11-19,22,Guatire,NaN,...,"Alvarez, Francisco","Alvarez, F",F Alvarez,Francisco Javier Alvarez,"Alvarez, Francisco Javier",3.4,1.55,Pulido,NaN,NaN
ID500779,500779,Jose Quintana,/api/v1/people/500779,Jose,Quintana,62,1989-01-24,35,Arjona,NaN,...,"Quintana, Jose","Quintana, J",J Quintana,Jose Guillermo Quintana,"Quintana, Jose Guillermo",3.411,1.565,NaN,NaN,NaN
ID621242,621242,Edwin Díaz,/api/v1/people/621242,Edwin,Díaz,39,1994-03-22,30,Naguabo,NaN,...,"Díaz, Edwin","Díaz, E",E Díaz,Edwin Orlando Díaz,"Díaz, Edwin Orlando",3.49,1.601,NaN,NaN,NaN
ID527048,527048,Martín Pérez,/api/v1/people/527048,Martín,Pérez,54,1991-04-04,33,Guanare,NaN,...,"Pérez, Martín","Pérez, M",M Pérez,Martín Pérez,"Pérez, Martín",3.371,1.535,Jimenez,NaN,NaN
ID620443,620443,Luis Torrens,/api/v1/people/620443,Luis,Torrens,13,1996-05-02,28,Valencia,NaN,...,"Torrens, Luis","Torrens, L",L Torrens,Luis Alfonso Torrens,"Torrens, Luis Alfonso",3.39,1.51,Saez,NaN,NaN
ID622663,622663,Luis Severino,/api/v1/people/622663,Luis,Severino,40,1994-02-20,30,Sabana de la Mar,NaN,...,"Severino, Luis","Severino, L",L Severino,Luis Severino,"Severino, Luis",3.467,1.589,NaN,NaN,NaN
ID682847,682847,Luis L. Ortiz,/api/v1/people/682847,Luis,Ortiz,48,1999-01-27,25,San Pedro de Macoris,NaN,...,"Ortiz, Luis L.","Ortiz, L. L.",L.L. Ortiz,Luis Leandro Ortiz,"Ortiz, Luis Leandro",3.467,1.589,Ribera,NaN,NaN
ID665833,665833,Oneil Cruz,/api/v1/people/665833,Oneil,Cruz,15,1998-10-04,25,Nizao,NaN,...,"Cruz, Oneil","Cruz, O",O Cruz,Oneil Cruz,"Cruz, Oneil",3.86,1.79,Urena,NaN,NaN
ID578428,578428,Jose Iglesias,/api/v1/people/578428,Jose,Iglesias,11,1990-01-05,34,Havana,NaN,...,"Iglesias, Jose","Iglesias, J",J Iglesias,Jose Antonio Iglesias,"Iglesias, Jose Antonio",3.2,1.42,Aleman,NaN,NaN
ID658668,658668,Edward Olivares,/api/v1/people/658668,Edward,Olivares,38,1996-03-06,28,Caracas,NaN,...,"Olivares, Edward","Olivares, E",E Olivares,Edward Daniel Olivares,"Olivares, Edward Daniel",3.64,1.72,Nunez,NaN,NaN
ID673380,673380,Dedniel Núñez,/api/v1/people/673380,Dedniel,Núñez,72,1996-06-05,28,Puerto Plata,NaN,...,"Núñez, Dedniel","Núñez, D",D Núñez,Dedniel Omar Núñez,"Núñez, Dedniel Omar",3.467,1.589,Pascual,NaN,NaN
ID676130,676130,José Buttó,/api/v1/people/676130,José,Buttó,70,1998-03-19,26,Cumana,NaN,...,"Buttó, José","Buttó, J",J Buttó,José Alejandro Buttó,"Buttó, José Alejandro",3.411,1.565,Salazar,NaN,NaN
ID642701,642701,Dennis Santana,/api/v1/people/642701,Dennis,Santana,60,1996-04-12,28,San Pedro de Macoris,NaN,...,"Santana, Dennis","Santana, D",D Santana,Dennis Anfernee Santana,"Santana, Dennis Anfernee",3.467,1.589,Sanchez,NaN,NaN
ID596019,596019,Francisco Lindor,/api/v1/people/596019,Francisco,Lindor,12,1993-11-14,30,Caguas,NaN,...,"Lindor, Francisco","Lindor, F",F Lindor,Francisco Miguel Lindor,"Lindor, Francisco Miguel",3.37,1.52,NaN,NaN,NaN
ID547973,547973,Aroldis Chapman,/api/v1/people/547973,Albertin,Chapman,45,1988-02-28,36,Holguin,NaN,...,"Chapman, Aroldis","Chapman, A",A Chapman,Albertin Aroldis Chapman,"Chapman, Albertin Aroldis",3.549,1.627,De La Cruz,NaN,NaN

Trying out the python MLB_Stats_API library:

In [8]:
import statsapi

In [9]:
print('The A\'s won %s games in 2018.' % sum(1 for x in statsapi.schedule(team=133,start_date='03/29/2018',end_date='12/31/2018') if x.get('winning_team','')=='Oakland Athletics'))

The A's won 97 games in 2018.

In [12]:
most_recent_game_id = statsapi.last_game(133)
a = statsapi.boxscore(most_recent_game_id)
b = statsapi.linescore(most_recent_game_id)
# print(a)
print(b)

Final     1 2 3 4 5 6 7 8 9  R   H   E
Orioles   4 0 1 0 0 0 0 0 1  6   8   1
Athletics 0 0 0 0 0 2 1 0 0  3   7   3

In [13]:
# Get standings as a string to be printed
standings = statsapi.standings(leagueId="103,104", division="all", include_wildcard=True, season=None, standingsTypes=None, date=None)
print(standings)

American League East
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Baltimore Orioles     57  33   -    -      -      -    -
 2   New York Yankees      55  37  3.0   69     1    +4.5   -
 3   Boston Red Sox        49  40  7.5   66     3      -    -
 4   Tampa Bay Rays        44  46  13.0  60     6     5.5   68
 5   Toronto Blue Jays     41  49  16.0  57     9     8.5   65

American League Central
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Cleveland Guardians   56  32   -    -      -      -    -
 2   Minnesota Twins       51  39  6.0   68     2    +1.5   -
 3   Kansas City Royals    49  43  9.0   64     4     1.5   71
 4   Detroit Tigers        42  48  15.0  59     7     7.5   66
 5   Chicago White Sox     26  66  32.0  41    12    24.5   48

American League West
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Seattle Mariners      49  43   -    -      -      -    -
 2   Houston Astros        46  44  2.0   70     5     3.5   70
 3   Texas Rangers         42  48  6.0   66     8     7.5   66
 4   Los Angeles Angels    37  52  10.5  62    10    12.0   62
 5   Oakland Athletics     34  58  15.0  56    11    16.5   56

National League East
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Philadelphia Phillies 58  32   -    -      -      -    -
 2   Atlanta Braves        49  39  8.0   66     1    +3.0   -
 3   New York Mets         44  44  13.0  61     5     2.0   70
 4   Washington Nationals  42  48  16.0  57     9     5.0   66
 5   Miami Marlins         32  58  26.0  47    12    15.0   56

National League Central
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Milwaukee Brewers     53  38   -    -      -      -    -
 2   St. Louis Cardinals   47  42  5.0   68     2    +0.5   -
 3   Pittsburgh Pirates    42  47  10.0  63     7     4.5   67
 4   Cincinnati Reds       42  48  10.5  62     8     5.0   66
 5   Chicago Cubs          42  49  11.0  61    10     5.5   65

National League West
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Los Angeles Dodgers   55  36   -    -      -      -    -
 2   San Diego Padres      49  45  7.5   63     3      -    -
 3   Arizona Diamondbacks  45  45  9.5   63     4     2.0   69
 4   San Francisco Giants  44  47  11.0  61     6     3.5   67
 5   Colorado Rockies      32  58  22.5  50    11    15.0   56

In [16]:
# Get standings as a dictionary:
standings_data = statsapi.standings_data(leagueId="103,104", division="all", include_wildcard=True, season=None, standingsTypes=None, date=None)
standings_data

{201: {'div_name': 'American League East',
  'teams': [{'name': 'Baltimore Orioles',
    'div_rank': '1',
    'w': 57,
    'l': 33,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 110,
    'league_rank': '2',
    'sport_rank': '3'},
   {'name': 'New York Yankees',
    'div_rank': '2',
    'w': 55,
    'l': 37,
    'gb': '3.0',
    'wc_rank': '1',
    'wc_gb': '+4.5',
    'wc_elim_num': '-',
    'elim_num': '69',
    'team_id': 147,
    'league_rank': '3',
    'sport_rank': '5'},
   {'name': 'Boston Red Sox',
    'div_rank': '3',
    'w': 49,
    'l': 40,
    'gb': '7.5',
    'wc_rank': '3',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '66',
    'team_id': 111,
    'league_rank': '5',
    'sport_rank': '9'},
   {'name': 'Tampa Bay Rays',
    'div_rank': '4',
    'w': 44,
    'l': 46,
    'gb': '13.0',
    'wc_rank': '6',
    'wc_gb': '5.5',
    'wc_elim_num': '68',
    'elim_num': '60',
    'team_id': 139,
    'league_rank': '9',
    'sport_rank': '17'},
   {'name': 'Toronto Blue Jays',
    'div_rank': '5',
    'w': 41,
    'l': 49,
    'gb': '16.0',
    'wc_rank': '9',
    'wc_gb': '8.5',
    'wc_elim_num': '65',
    'elim_num': '57',
    'team_id': 141,
    'league_rank': '12',
    'sport_rank': '25'}]},
 202: {'div_name': 'American League Central',
  'teams': [{'name': 'Cleveland Guardians',
    'div_rank': '1',
    'w': 56,
    'l': 32,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 114,
    'league_rank': '1',
    'sport_rank': '2'},
   {'name': 'Minnesota Twins',
    'div_rank': '2',
    'w': 51,
    'l': 39,
    'gb': '6.0',
    'wc_rank': '2',
    'wc_gb': '+1.5',
    'wc_elim_num': '-',
    'elim_num': '68',
    'team_id': 142,
    'league_rank': '4',
    'sport_rank': '7'},
   {'name': 'Kansas City Royals',
    'div_rank': '3',
    'w': 49,
    'l': 43,
    'gb': '9.0',
    'wc_rank': '4',
    'wc_gb': '1.5',
    'wc_elim_num': '71',
    'elim_num': '64',
    'team_id': 118,
    'league_rank': '6',
    'sport_rank': '10'},
   {'name': 'Detroit Tigers',
    'div_rank': '4',
    'w': 42,
    'l': 48,
    'gb': '15.0',
    'wc_rank': '7',
    'wc_gb': '7.5',
    'wc_elim_num': '66',
    'elim_num': '59',
    'team_id': 116,
    'league_rank': '10',
    'sport_rank': '21'},
   {'name': 'Chicago White Sox',
    'div_rank': '5',
    'w': 26,
    'l': 66,
    'gb': '32.0',
    'wc_rank': '12',
    'wc_gb': '24.5',
    'wc_elim_num': '48',
    'elim_num': '41',
    'team_id': 145,
    'league_rank': '15',
    'sport_rank': '30'}]},
 200: {'div_name': 'American League West',
  'teams': [{'name': 'Seattle Mariners',
    'div_rank': '1',
    'w': 49,
    'l': 43,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 136,
    'league_rank': '7',
    'sport_rank': '11'},
   {'name': 'Houston Astros',
    'div_rank': '2',
    'w': 46,
    'l': 44,
    'gb': '2.0',
    'wc_rank': '5',
    'wc_gb': '3.5',
    'wc_elim_num': '70',
    'elim_num': '70',
    'team_id': 117,
    'league_rank': '8',
    'sport_rank': '14'},
   {'name': 'Texas Rangers',
    'div_rank': '3',
    'w': 42,
    'l': 48,
    'gb': '6.0',
    'wc_rank': '8',
    'wc_gb': '7.5',
    'wc_elim_num': '66',
    'elim_num': '66',
    'team_id': 140,
    'league_rank': '11',
    'sport_rank': '22'},
   {'name': 'Los Angeles Angels',
    'div_rank': '4',
    'w': 37,
    'l': 52,
    'gb': '10.5',
    'wc_rank': '10',
    'wc_gb': '12.0',
    'wc_elim_num': '62',
    'elim_num': '62',
    'team_id': 108,
    'league_rank': '13',
    'sport_rank': '26'},
   {'name': 'Oakland Athletics',
    'div_rank': '5',
    'w': 34,
    'l': 58,
    'gb': '15.0',
    'wc_rank': '11',
    'wc_gb': '16.5',
    'wc_elim_num': '56',
    'elim_num': '56',
    'team_id': 133,
    'league_rank': '14',
    'sport_rank': '27'}]},
 204: {'div_name': 'National League East',
  'teams': [{'name': 'Philadelphia Phillies',
    'div_rank': '1',
    'w': 58,
    'l': 32,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 143,
    'league_rank': '1',
    'sport_rank': '1'},
   {'name': 'Atlanta Braves',
    'div_rank': '2',
    'w': 49,
    'l': 39,
    'gb': '8.0',
    'wc_rank': '1',
    'wc_gb': '+3.0',
    'wc_elim_num': '-',
    'elim_num': '66',
    'team_id': 144,
    'league_rank': '4',
    'sport_rank': '8'},
   {'name': 'New York Mets',
    'div_rank': '3',
    'w': 44,
    'l': 44,
    'gb': '13.0',
    'wc_rank': '5',
    'wc_gb': '2.0',
    'wc_elim_num': '70',
    'elim_num': '61',
    'team_id': 121,
    'league_rank': '8',
    'sport_rank': '16'},
   {'name': 'Washington Nationals',
    'div_rank': '4',
    'w': 42,
    'l': 48,
    'gb': '16.0',
    'wc_rank': '9',
    'wc_gb': '5.0',
    'wc_elim_num': '66',
    'elim_num': '57',
    'team_id': 120,
    'league_rank': '12',
    'sport_rank': '23'},
   {'name': 'Miami Marlins',
    'div_rank': '5',
    'w': 32,
    'l': 58,
    'gb': '26.0',
    'wc_rank': '12',
    'wc_gb': '15.0',
    'wc_elim_num': '56',
    'elim_num': '47',
    'team_id': 146,
    'league_rank': '15',
    'sport_rank': '29'}]},
 205: {'div_name': 'National League Central',
  'teams': [{'name': 'Milwaukee Brewers',
    'div_rank': '1',
    'w': 53,
    'l': 38,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 158,
    'league_rank': '3',
    'sport_rank': '6'},
   {'name': 'St. Louis Cardinals',
    'div_rank': '2',
    'w': 47,
    'l': 42,
    'gb': '5.0',
    'wc_rank': '2',
    'wc_gb': '+0.5',
    'wc_elim_num': '-',
    'elim_num': '68',
    'team_id': 138,
    'league_rank': '5',
    'sport_rank': '12'},
   {'name': 'Pittsburgh Pirates',
    'div_rank': '3',
    'w': 42,
    'l': 47,
    'gb': '10.0',
    'wc_rank': '7',
    'wc_gb': '4.5',
    'wc_elim_num': '67',
    'elim_num': '63',
    'team_id': 134,
    'league_rank': '10',
    'sport_rank': '19'},
   {'name': 'Cincinnati Reds',
    'div_rank': '4',
    'w': 42,
    'l': 48,
    'gb': '10.5',
    'wc_rank': '8',
    'wc_gb': '5.0',
    'wc_elim_num': '66',
    'elim_num': '62',
    'team_id': 113,
    'league_rank': '11',
    'sport_rank': '20'},
   {'name': 'Chicago Cubs',
    'div_rank': '5',
    'w': 42,
    'l': 49,
    'gb': '11.0',
    'wc_rank': '10',
    'wc_gb': '5.5',
    'wc_elim_num': '65',
    'elim_num': '61',
    'team_id': 112,
    'league_rank': '13',
    'sport_rank': '24'}]},
 203: {'div_name': 'National League West',
  'teams': [{'name': 'Los Angeles Dodgers',
    'div_rank': '1',
    'w': 55,
    'l': 36,
    'gb': '-',
    'wc_rank': '-',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '-',
    'team_id': 119,
    'league_rank': '2',
    'sport_rank': '4'},
   {'name': 'San Diego Padres',
    'div_rank': '2',
    'w': 49,
    'l': 45,
    'gb': '7.5',
    'wc_rank': '3',
    'wc_gb': '-',
    'wc_elim_num': '-',
    'elim_num': '63',
    'team_id': 135,
    'league_rank': '6',
    'sport_rank': '13'},
   {'name': 'Arizona Diamondbacks',
    'div_rank': '3',
    'w': 45,
    'l': 45,
    'gb': '9.5',
    'wc_rank': '4',
    'wc_gb': '2.0',
    'wc_elim_num': '69',
    'elim_num': '63',
    'team_id': 109,
    'league_rank': '7',
    'sport_rank': '15'},
   {'name': 'San Francisco Giants',
    'div_rank': '4',
    'w': 44,
    'l': 47,
    'gb': '11.0',
    'wc_rank': '6',
    'wc_gb': '3.5',
    'wc_elim_num': '67',
    'elim_num': '61',
    'team_id': 137,
    'league_rank': '9',
    'sport_rank': '18'},
   {'name': 'Colorado Rockies',
    'div_rank': '5',
    'w': 32,
    'l': 58,
    'gb': '22.5',
    'wc_rank': '11',
    'wc_gb': '15.0',
    'wc_elim_num': '56',
    'elim_num': '50',
    'team_id': 115,
    'league_rank': '14',
    'sport_rank': '28'}]}}

In [17]:
# Get team info:
teams = statsapi.lookup_team("", activeStatus="Y")
teams = pd.DataFrame(teams)
teams.sort_values(by=['id'])

,id,name,teamCode,fileCode,teamName,locationName,shortName
16,108,Los Angeles Angels,ana,ana,Angels,Anaheim,LA Angels
17,109,Arizona Diamondbacks,ari,ari,D-backs,Phoenix,Arizona
18,110,Baltimore Orioles,bal,bal,Orioles,Baltimore,Baltimore
19,111,Boston Red Sox,bos,bos,Red Sox,Boston,Boston
20,112,Chicago Cubs,chn,chc,Cubs,Chicago,Chi Cubs
21,113,Cincinnati Reds,cin,cin,Reds,Cincinnati,Cincinnati
22,114,Cleveland Guardians,cle,cle,Guardians,Cleveland,Cleveland
23,115,Colorado Rockies,col,col,Rockies,Denver,Colorado
24,116,Detroit Tigers,det,det,Tigers,Detroit,Detroit
25,117,Houston Astros,hou,hou,Astros,Houston,Houston
26,118,Kansas City Royals,kca,kc,Royals,Kansas City,Kansas City
27,119,Los Angeles Dodgers,lan,la,Dodgers,Los Angeles,LA Dodgers
28,120,Washington Nationals,was,was,Nationals,Washington,Washington
29,121,New York Mets,nyn,nym,Mets,Flushing,NY Mets
0,133,Oakland Athletics,oak,oak,Athletics,Oakland,Oakland
1,134,Pittsburgh Pirates,pit,pit,Pirates,Pittsburgh,Pittsburgh
2,135,San Diego Padres,sdn,sd,Padres,San Diego,San Diego
3,136,Seattle Mariners,sea,sea,Mariners,Seattle,Seattle
4,137,San Francisco Giants,sfn,sf,Giants,San Francisco,San Francisco
5,138,St. Louis Cardinals,sln,stl,Cardinals,St. Louis,St. Louis
6,139,Tampa Bay Rays,tba,tb,Rays,St. Petersburg,Tampa Bay
7,140,Texas Rangers,tex,tex,Rangers,Arlington,Texas
8,141,Toronto Blue Jays,tor,tor,Blue Jays,Toronto,Toronto
9,142,Minnesota Twins,min,min,Twins,Minneapolis,Minnesota
10,143,Philadelphia Phillies,phi,phi,Phillies,Philadelphia,Philadelphia
11,144,Atlanta Braves,atl,atl,Braves,Atlanta,Atlanta
12,145,Chicago White Sox,cha,cws,White Sox,Chicago,Chi White Sox
13,146,Miami Marlins,mia,mia,Marlins,Miami,Miami
14,147,New York Yankees,nya,nyy,Yankees,Bronx,NY Yankees
15,158,Milwaukee Brewers,mil,mil,Brewers,Milwaukee,Milwaukee

In [141]:
# Write out the teams data to a csv file
teams.to_csv(path_or_buf="baseball-data/team_data.csv", index=False)